<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ page.summary }}">

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="penny php site framework middleware"/>
    <meta property="og:url" content="{{site.MY_URL}}{{page.url}}" />
    <meta property="og:description" content="{{ page.summary }}" />
    <meta property="og:type" content="article" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="{{site.url}}/img/pennyphp.png" />

  <link rel="stylesheet" href="{{ "/css/compiled.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
