<div class="row">
    <div class="col-md-12 single-post">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p>{{ post.summary }}</p>
        <p>by. <a href="{{ post.author_url }}" target="_blank">{{ post.author }}</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <span class="post-tag label label-success"></span>
        {% for category in post.categories %}
        <span class="post-tag label label-info">{{ category }}</span>
        {% endfor %}
        <span class="post-tag label label-default">{{ post.date | date_to_string }}</a>
    </div>
</div>
